<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tk.rabidbeaver.swi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/steering"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SWIConfig">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".KeyConfiguration">
        </activity>
        <service
            android:name=".ButtonService"
            android:label="MCU Key Service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>
        <receiver android:name=".LoadReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="tk.rabidbeaver.maincontroller.ACC_ON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>